
footer {
background-color: $background2;
padding-top: 2rem;
    .social__media {

        .social__links {
            display: flex;

            .social__icon {
                filter: invert(100%);
                width: 3rem;
                max-width: 50%;
            }

            li {
                text-align: center;
            }

        }

    }
    .social__rights {
        text-align: right;
    }

    /* TABLET */
    @media (min-width: 541px) and (max-width: 1000px) {
        
        footer {
            padding-top: 2rem;
            .social__media{
                .social__links {
                    justify-content: space-evenly;
                }
            }
        }
    }

    
    /* MOBILE */

    @media (min-width: 320px) and (max-width: 540px) {
        
        footer {
            padding-top: 2rem;
        }
    }

}