
$background1: rgb(172, 8, 8);
$background2: rgb(143, 7, 7);
$textos: rgb(230, 227, 227);
$transformaciones: rgb(230, 227, 227);
$fechacerrada: rgb(14, 13, 13);
$recuerdos: rgb(34,117,126);
$recuerdosshadow: rgb(25, 87, 94);
$underbody: rgb(44, 37, 37);