
@import 'variables';
@import 'header';
@import 'footer';
@import 'mediaqueries';


/* GENERALES */

* {
    margin: 0px;
    padding: 0px;
}

ol {
    list-style-type: none;
}

li {
    list-style-type: none;
}

header {
    background-color: rgb(129, 5, 5);
}

main {
    background-color: rgb(129, 5, 5);
}

footer {
    background-color: rgb(129, 5, 5);
    padding-top: 1rem;
}

.social__links {
    display: flex;
}

.social__icon {
    filter: invert(100%);
}

body {
    background-color: rgb(44, 37, 37);
    font-family: Inter;
}

a {
    text-decoration: none;
    color: rgb(19, 18, 18);
}

h1 {
    font-size: 25px;
    padding: 0.5rem;
}

li {
    list-style-type: none;
}

.menu__nav {
    margin:0 0.75rem;
    text-decoration: none;
    color: rgb(230, 227, 227);
    background-image: linear-gradient(rgb(230, 227, 227), rgb(230, 227, 227));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.menu__nav:hover, a:focus {
    color: rgb(230, 227, 227);
    background-size: 100% 2px;
}

.title__text {
    color: rgb(230, 227, 227);
    font-size: 2rem;
    margin-right: 2rem;
}

.title__text:hover {
    color: rgb(230, 227, 227);
}

.menu__links {
    font-size: 1.1rem;
}

input {
    font-size: 1.5rem;
    text-align: center;
    padding: 0rem 2rem;
    margin: 0.5rem;
}

textarea {
    font-size: 1.5rem;
    text-align: center;
    margin: 0.5rem;
}

.social__icon {
    width: 3rem;
    max-width: 50%;
}

.social__links li {
    text-align: center;
}

.social__rights {
    text-align: right;
}

.anim__button {
    font-size: 1.5rem;
    border-radius: 0.3rem;
    border: 0.2rem solid;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color .2s;
}

.anim__button:hover {
    background-color: rgb(230, 227, 227);
    border-color: rgb(230, 227, 227);
    color: rgb(31, 29, 29);
}

::placeholder {
    color: rgb(14, 13, 13);
}

p, h1, h2, a, input {
    color: rgb(230, 227, 227);
}

/* INDEX */

.introduction__video {
    width: 98vw;
    height: 98vh;
}

.releases__text {
    text-align: center;
    font-size: 6rem;
    margin: 5rem 0rem;
}

.releases__tinydesk {
    margin: 4rem;
    width: 80vh;
    height: 50vh;
}

.releases__cambiandolapiel {
    margin: 4rem;
    width: 80vh;
    height: 50vh;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}

.newsletter__input {
    margin: 0;
}

.shows__title {
    font-size: 8rem;
    text-align: center;
}

.shows__title1 {
    font-size: 8rem;
    text-align: center;
    margin-bottom: 10rem; 
}

.shows {
    text-align: center;
    align-items: center;
}

.shows__location {
    font-size: 3.5rem;
}

.shows__location--end {
    font-size: 3.5rem;
    text-decoration: line-through;
    text-decoration-color: rgb(14, 13, 13);
}

.shows__country {
    font-size: 1.5rem;
}

.shows__country--end {
    font-size: 1.5rem;
    text-decoration: line-through;
    text-decoration-color: rgb(14, 13, 13);
}

.shows__date {
    font-size: 2rem;
}

.shows__date--end {
    font-size: 2rem;
    text-decoration: line-through;
    text-decoration-color: rgb(14, 13, 13);
}

.shows__buy {
    font-size: 1.5rem;
    margin-bottom: 5rem;
    border-radius: 1rem;
    padding: 0.7rem;
    border: 0.2rem solid;
    background-color: rgba(134, 28, 30, 0);
    transition: background-color .3s;
}

.shows__buy:hover {
    background-color: rgb(230, 227, 227);
    border-color: rgb(230, 227, 227);
    color: rgb(14, 13, 13);
}

.shows__buy--end {
    font-size: 1.5rem;
    margin-bottom: 5rem;
    text-decoration: line-through;
    text-decoration-color: rgb(14, 13, 13);
    border-radius: 1rem;
    padding: 0.7rem;
    border: 0.2rem solid;
    background-color: rgba(134, 28, 30, 0);
}

/* MUSIC */

.partedemi {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between ;
    padding: 4rem;
}

.partedemi__spotify {
    width: 85vw;
    height: 31.25rem;
}

.partedemi__cover {
    max-width: 100vw;
    margin-bottom: 2rem;
}

.recuerdos {
    background: rgb(34,117,126);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
}

.recuerdos__spotify {
    width: 85vw;
    height: 31.25rem;
}

.recuerdos__cover {
    max-width: 100vw;
    margin-bottom: 2rem;
}

/* GALLERY */

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 28rem 28rem 28rem 28rem 28rem;
    gap: 0.5rem;
    margin: 0rem 0.5rem;
}

.gallery__item {
    border: 2px solid rgb(14, 13, 13);
}

.gallery__1 {
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url(../resources/nicolegallery/nickig1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery__2 {
    grid-column-start: 2;
    grid-column-end: 4;
    background-image: url(../resources/nicolegallery/nickig2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery__3 {
    grid-row-start: 2;
    grid-row-end: 4;
    background-image: url(../resources/nicolegallery/nickig3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery__4 {
    background-image: url(../resources/nicolegallery/nickig4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery__5 {
    background-image: url(../resources/nicolegallery/nickig5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery__6 {
    grid-row-start: 3;
    grid-row-end: 5;
    background-image: url(../resources/nicolegallery/nickig6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery__7 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    background-image: url(../resources/nicolegallery/nickig7.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery__8 {
    background-image: url(../resources/nicolegallery/nickig8.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery__9 {
    background-image: url(../resources/nicolegallery/nickig9.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery__10 {
    background-image: url(../resources/nicolegallery/nickig10.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* BIO */

.bio {
    display: flex;
}

.bio__photo {
    display: flex;
    align-items: center;
}

.bio__img {
    margin: 1rem;
    width: 50vw;
}

.bio__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    font-size: 1.7rem;
}

/* CONTACT */

.contact__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    padding-bottom: 10rem;
}

.contact__photo {
    max-width: 100%;
}

.contact__text {
    padding: 2rem 2rem;
}

.contact__text p {
    font-size: 2.5rem;
    text-align: center;
}

.contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* MEDIA QUERIES */

/* TABLETS */
@media (min-width: 541px) and (max-width: 1000px) {

    /* GENERAL */

    .social__rights {
        text-align: center;
        padding-bottom: 1rem;
    }

    .social__links {
        display: flex;
        justify-content: space-around;
        padding: 0;
    }

    /* INDEX */

    .releases__text {
        text-align: center;
        font-size: 4.7rem;
    }

    .releases__tinydesk, .releases__cambiandolapiel {
        height: 50vh;
        width: 97vw;
        margin: 0.5rem
    }

    .shows__title {
        font-size: 6rem;
    }

    .shows__title1 {
        font-size: 6rem;
    }

    /* GALLERY */
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 28rem 28rem 28rem 28rem 28rem 28rem 28rem;
        gap: 0.5rem;
        margin: 0rem 0.5rem;
    }

    .gallery__1 {
        grid-row-start: 1;
        grid-row-end: 3;
    }
    
    .gallery__2 {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .gallery__3 {
        grid-row-start: 4;
        grid-row-end: 6;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    
    .gallery__4 {
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    .gallery__5 {
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .gallery__6 {
        grid-row-start: 7;
        grid-row-end: 8;
    }
    
    .gallery__7 {
        grid-row-start: 6;
        grid-row-end: 7;
    }
    
    .gallery__8 {
        grid-row-start: 4;
        grid-row-end: 5;
    }
    
    .gallery__9 {
        grid-row-start: 5;
        grid-row-end: 6;
    }
    
    .gallery__10 {
        grid-row-start: 7;
        grid-row-end: 8;
    }

    /* BIO */

    .bio {
        flex-direction: column;
        align-items: center;
    }

    .bio__img {
        min-width: 480px;
    }

    /* CONTACT */

}

/* MOBILE */
@media (min-width: 320px) and (max-width: 540px) {

    /* GENERAL */

    .social__rights {
        text-align: center;
        padding-bottom: 1rem;
    }

    .social__links {
        justify-content: space-between;
        padding: 0;
    }

    /* INDEX */

    .introduction__video {
        height: 50vh;
        padding-top: 1rem;
    }

    .releases__text {
        font-size: 3.5rem;
    }

    .releases__tinydesk, .releases__cambiandolapiel {
        height: 50vh;
        width: 97vw;
        margin: 0.3rem
    }

    .shows__title {
        font-size: 3.3rem;
    }

    .shows__title1 {
        font-size: 5rem;
    }

    /* MUSIC */

    .partedemi__cover {
        max-width: 97vw;
    }

    .partedemi__spotify {
        width: 98vw;
        height: 31.25rem;
    }

    .recuerdos__cover {
        max-width: 98vw;
    }

    .recuerdos__spotify {
        width: 98vw;
        height: 31.25rem;
    }

    /* GALLERY */

    .gallery {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 28rem 28rem 28rem 28rem 28rem 28rem 28rem 28rem 28rem 28rem 28rem 28rem 28rem 28rem;
        gap: 0.5rem;
        margin: 0rem 0.5rem;
    }

    .gallery__1 {
        grid-row-start: 1;
        grid-row-end: 3;
    }
    
    .gallery__2 {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 1;
    }
    
    .gallery__3 {
        grid-row-start: 4;
        grid-row-end: 6;
    }
    
    .gallery__4 {
        grid-row-start: 6;
        grid-row-end: 7;
    }
    
    .gallery__5 {
        grid-row-start: 7;
        grid-row-end: 8;
    }
    
    .gallery__6 {
        grid-row-start: 8;
        grid-row-end: 10;
    }
    
    .gallery__7 {
        grid-row-start: 10;
        grid-row-end: 11;
        grid-column-end: 1;
    }
    
    .gallery__8 {
        grid-row-start: 11;
        grid-row-end: 12;
    }
    
    .gallery__9 {
        grid-row-start: 12;
        grid-row-end: 14;
    }
    
    .gallery__10 {
        grid-row-start: 14;
        grid-row-end: 15;
    }

    /* BIO */

    .bio {
        flex-direction: column;
        align-items: center;

        &__img {
            min-width: 320px;
        }

        &__text {
            font-size: 1.3rem;
        }
    }

}